<header>{% if site.logo %}
  <h1 class="logo">
      <a href="{{ '/' | relative_url }}" title="Home">
        <img src="{{ site.logo | relative_url }}" width="64px" alt="Home">
      </a>
  </h1>{% endif %}
  <nav>
    <ul>{% for item in site.navigation %}
        {% if item.url contains '://' %}
          {% assign url = item.url %}
        {% else %}
          {% assign url = item.url | relative_url %}
        {% endif %}
        <li>
          <a href="{{url}}" title="{{item.title}}">{{item.title}}</a>
        </li>{% endfor %}
    </ul>
  </nav>
</header>
<div class="header">
  {% if site.tagline %}
    <h1 class="tagline">{{site.tagline}}</h1>
  {% endif %}
</div>